{% extends "application/base.html" %}
{% load bootstrap4 %}
{%block page_header%}
	<h2>
		Зайди в свой аккаунт!
	</h2>
{% endblock page_header %}


{% block content %}

	<!--{% if form.errors %}
	<p>ошибка в логине или пароле. Попробуй еще</p>
	Обратите 
внимание: блок  if form.errors  удален из шаблона; django-bootstrap4 управляет ошибками формы автоматически


	{% endif%}-->

<form method="post" action="{% url 'users:login'%}" class="form"> <!--Представление отправляет форму шаблону, 
мы должны вывести форму  и добавить кнопку отправки данных . В точке 
включается скрытый элемент формы 'next-->

	{% csrf_token%}
	{% bootstrap_form form %} <!-- точке  добавляется атрибут class="form", после чего при отображении формы  используется шаблонный тег { bootstrap_form }; он заменяет тег {{ form.
as_p }}, используемый в главе 19. Шаблонный тег вставляет 
правила в стиле Bootstrap в отдельные элементы формы при ее построении-->
	{% buttons %}<!-- шаблонный тег bootstrap4 , который добавляет 
стилевое оформление Bootstrap к кнопкам-->


	<!--{{form.as_p}}--> <!---->

	<button name="submit" class="btn btn-primary"  >
	зайти</button>

	{% endbuttons%}
	<input type="hidden" name="next"
		value="{% url 'апликейшн:индекс'%}" /><!--аргумент value сообщает Django, куда 
перенаправить пользователя после успешно выполненного входа. В нашем случае 
пользователь возвращается обратно на домашнюю страницу-->

</form>

{% endblock content%}