{% load bootstrap4 %} <!--загружается коллекция шаблонных тегов из django-bootstrap4-->


<!DOCTYPE html> <!--файл объявляется как документ HTML-->
<html lang="en"><!-- написанный на английском языке-->
    <head><!-- заголовок файла начинается в точке/Заголовок файла HTML не содержит контента: он всего 
    лишь передает браузеру информацию, необходимую для правильного отображения 
    страницы-->
        <meta charset="utf-8"><!---->
        <meta name="viewport" content="width=device-width, initial-scale=1,
        shrink-to-fit=no"><!---->
        <title>Learning LOG</title><!-- включается элемент title страницы; его содержимое будет 
    выводиться в строке заголовка браузера при открытии Learning Log.-->
    {% bootstrap_css %}<!--используется один из шаблонных тегов django-bootstrap4, который 
    приказывает Django включить все стилевые файлы Bootstrap-->
    {% bootstrap_javascript jquery='full' %}<!--активизирует все интерактивное поведение, которое может использоваться на 
    странице, например раздвижные навигационные панели-->
    </head>



<body> <!--показывает что будет видно пользователю-->
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border"><!-- элемент <nav>
обозначает раздел навигационных ссылок на странице. Весь контент внутри этого 
элемента оформляется по правилам Bootstrap, определяемым селекторами navbar, 
navbar-expand-md и другим перечисленным здесь. Селектор определяет, к каким 
элементам страницы должно применяться стилевое правило. Селекторы navbarlight и bg-light оформляют навигационную панель темой со светлым фоном. 
Сокращение mb в mb-4 происходит от «margin-bottom», то есть «нижнее поле»; этот 
селектор гарантирует, что между навигационной панелью и остальным контентом 
страницы остается свободное место. Селектор border создает тонкую рамку вокруг 
светлого фона, чтобы немного отделить его от остального контента страницы-->
    <a class="navbar-brand" href="{% url 'апликейшн:индекс'%}">Learning log </a><!--задается имя проекта, которое выводится у левого края навигационной 
панели, и создается ссылка на домашнюю страницу; она будет отображаться на 
каждой странице проекта. Селектор navbar-brand оформляет эту ссылку так, чтобы 
она выделялась на фоне остальных ссылок;-->

    <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation"><!-- шаблон определяет кнопку, которая будет отображаться, если ширины 
окна браузера не хватает для горизонтального отображения всей навигационной 
панели. Когда пользователь нажимает кнопку, навигационные элементы выводятся 
в раскрывающемся списке. Атрибут collapse сворачивает навигационную панель 
при уменьшении размеров окна браузера и при отображении сайта на мобильных 
устройствах с малыми экранами.-->
    <span class="navbar-toggler-icon"></span> </button><!---->



    <div class="collapse navbar-collapse" id="navbarCollapse"><!--открывается новая секция навигационной панели. В процессе построения веб-страницы разработчик делит ее на секции и определяет стили и правила 
поведения, применяемые к текущей секции. Все стилевые директивы и правила 
поведения, определяемые в открывающем теге div, продолжают действовать до 
следующего, закрывающего тега div, который записывается в виде </div>. Это 
начало той части навигационной панели, которая будет сворачиваться на узких 
экранах и окнах-->
        <ul class="navbar-nav mr-auto"><!---->
            <li class="nav-item"><!---->
                <a class="nav-link" href="{% url 'апликейшн:топики'%}"><!--В точке  определяется новый набор ссылок. Bootstrap определяет навигационные 
элементы как элементы неупорядоченного списка со стилевым оформлением, с которым они совершенно не похожи на список. Каждая ссылка или элемент, который 
должен отображаться на панели, включается как элемент одного из этих списков. 
В данном случае единственным элементом списка является ссылка на страницу 
Topics -->
                    Топики
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto"><!--новый набор ссылок начинается при помощи другого открывающего тега 
<ul>На странице можно создать столько групп ссылок, сколько вам понадобится. 
Эта группа содержит ссылки, связанные со входом и регистрацией, расположенные 
в правой части навигационной панели.Имя селектора ml-auto означает «marginleft-automatic», то есть «автоматическое левое поле»; этот селектор анализирует 
другие элементы на навигационной панели и определяет величину левого поля, 
которое сдвигает эту группу ссылок к правому краю экрана-->
            {% if user.is_authenticated%}<!---->
            <li class="nav-item"><!---->
                <span class="navbar-text">Привет, {{user.username}}.</span><!--. Элемент span оформляет 
фрагменты текста или элементы страницы, которые являются частью более длинной строки. Если элементы div создают собственный раздел страницы, элементы 
span непрерывно располагаются внутри большего раздела. На первый взгляд такая 
структура кажется запутанной, потому что многие страницы содержат элементы 
div с большой вложенностью. Здесь элемент span используется для оформления 
текста на навигационной панели — например, имени пользователя, выполнившего 
вход. Эта информация должна отличаться по внешнему виду от ссылок, чтобы 
у пользователей не возникало желания щелкать на них.-->
            </li>

            <li class="nav-item"><!---->
                <a class="nav-link"  href="{% url 'users:logout'%}">выйти</a><!---->
            </li>
            {%else%}<!---->
            <li class="nav-item"><!---->
                <a class="nav-link" href="{% url 'users:регистрация'%}">регистрация</a><!---->
            </li>
            <li class="nav-item"><!---->
                <a class="nav-link" href="{% url 'users:login'%}">зайти</a><!---->
            </li>
            {%endif%}
        </ul>
    </div><!--закрывается элемент div с частями навигационной панели, которые 
сворачиваются на узких экранах, а в конце секции закрывается навигационная панель в целом. Если вы захотите добавить больше ссылок на навигационную панель, 
включите другой элемент <li> в любую из групп <ul>, определенных на навигационной панели; используйте стилевые директивы, идентичные приведенным выше-->
    </nav>

    <main role='main' class="container"><!--Элемент main используется для основного 
контента в теле страницы. В данном случае назначается селектор container, что 
является простым способом группировки элементов на странице. В этот контейнер 
будут включены два элемента div-->
        <div class="pb-2 mb-2 border-bottom"><!---->
            {% block page_header%}{%endblock page_header %}<!-- page_header. Мы будем использовать этот 
блок для отображения заголовка большинства страниц. Чтобы секция выделялась 
на фоне других частей страницы, мы разместим отступы под заголовком. Отступ
(padding) представляет собой пространство между контентом элемента и его 
границей. Селектор pb-2 — директива Bootstrap, создающая отступы умеренной 
величины в нижней части оформляемого элемента. Полем (margin) называется 
пространство между границей элемента и другими элементами страницы. В нашем приложении граница нужна только в нижней части страницы, поэтому мы 
используем селектор border-bottom, создающий тонкую границу в нижней части 
блока page_header.-->
        </div>
        <div>
            {%block content%}{%endblock content%}<!---->
        </div>    
        
    </main>
</body>
</html>