{% extends "application/base.html"%} 


{%block page_header%}<!-- мы сообщаем Django о том, что далее следует определение содержимого 
блока page_header-->
	<div class="jumbotron"><!--Элемент jumbotron  представляет собой обычный элемент div, 
к которому применяется набор стилевых директив. Селектор jumbotron применяет 
эту группу стилевых директив из библиотеки Bootstrap к элементу.-->


		<h1 class="display-3"><!--. Класс h1 является заголовком первого уровня, а с селектором 
display-3 заголовок становится более тонким и высоким-->
			Отслеживание твоего обучения
		</h1><!---->
		<p class="lead"><!-- включается 
более длинное сообщение с дополнительной информацией о том, что пользователь 
может сделать со своим дневником.-->
			Make your own Learning Log, and keep a list of the
 topics you're learning about. Whenever you learn something new
 about a topic, make an entry summarizing what you've learned.	
		</p>

		<a class="btn btn-lg btn-primary" href="{% url 'users:регистрация'%}" role='button'>Register &raquo;</a><!--Вместо простой текстовой ссылки мы создаем кнопку , которая предлагает пользователю зарегистрировать свою учетную запись Learning Log. Это та же ссылка, что 
и в заголовке, но кнопка выделяется на фоне страницы и показывает пользователю, 
что необходимо сделать для того, чтобы приступить к работе над проектом. В результате применения селекторов получается крупная кнопка, представляющая желаемое 
действие. Код &raquo; является сущностью HTML, представляющей две правые угловые скобки (>>).-->
	</div>

{% endblock page_header %}
