{% extends 'application/base.html' %}

{% block page_header%}
	<h3>Name: {{topic}}</h3>

{% endblock page_header%}<!--topic берем из vies-->
{%block content%}
	<p>
		<a href="{% url 'апликейшн:NEW_ENTRY' topic.id %}">add new entry</a>
	</p>
	
		{%for entry in entries%} <!--беребираем записи к теме-->
		<div class="card mb-3"><!--Вместо того 
чтобы превращать каждую запись в элемент списка, мы создаем в точке  элемент 
с селектором card. Он имеет два вложенных элемента: первый предназначен для 
хранения временной метки и ссылки для редактирования, а второй — для хранения 
тела записи.-->
			<h4 class="card-header"><!--ервый элемент в панели представляет собой заголовок — элемент <h4> с селектором card-header . Заголовок панели содержит дату создания записи и ссылку 
для ее редактирования. Ссылка edit_entry заключается в тег <small>, чтобы она 
была чуть меньше временной метки-->
				{{ entry.date_added|date:'M d, Y H:i' }} 
				<small>
					<a href="{% url 'апликейшн:EDIT_ENTRY' entry.id%}">
						edit entry
					</a>
				</small>				
			</h4>
			<div class="card-body"><!--. Второй элемент представляет собой div
с селектором card-body , который размещает текст записи в простом поле на 
карте. Обратите внимание: код Django для включения информации на страницу 
не изменился; изменились только элементы, влияющие на внешний вид страницы.-->
				{{entry.text|linebreaks}}
			</div>			
		</div>

		{%empty%}
		<p>There are no entries for this yet.</p>
	{%endfor%}
	

{%endblock content%}